<div class="modal-header">
    <h3 class="modal-title">设置用户“<span class="text-success">{{Name}}</span>”密码</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">密码:</label>
            <div class="col-sm-6">
                <input type="password" ng-model="Password" class="form-control">
            </div>
            <span ng-if="check()" class="text-danger">8位字符数字组合([a-z0-9@_]{8,})</span>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">确认密码:</label>
            <div class="col-sm-6">
                <input type="password" ng-model="confirmPwd" class="form-control">
            </div>
            <span ng-if="Password!=confirmPwd" class="text-danger">确认密码与密码不相同</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary">确定</button>
    <button ng-click="cancel()" class="btn btn-warning">取消</button>
</div>